.topheader {
  background-color: #ffc65e;
}
.navbar {
  background-color: #ffc65e;
}
.navbar-item {
  color: #fff;
}
.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
.body {
  background-color: #f4f7fa;
}